<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dermapp"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfilePatActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileDocActivity"
            android:exported="false" />
        <activity
            android:name=".CreateNewReportActivity"
            android:exported="false" />
        <activity
            android:name=".NewMessagePatActivity"
            android:exported="false" />
        <activity
            android:name=".NewMessageDocActivity"
            android:exported="false" />
        <activity
            android:name=".messages.MessagesPatActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAppointmentDetailsDocActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentDetailsPatActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePatActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileDocActivity"
            android:exported="false" />
        <activity
            android:name=".startPatient.StartPatActivity"
            android:exported="false" />
        <activity
            android:name=".startDoctor.StartDocActivity"
            android:exported="false" />
        <activity
            android:name=".MakeAppointmentPatActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmationDialogFragment"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".ReminderBroadcast"/>
    </application>

</manifest>