<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dermapp"
        tools:targetApi="31"
        android:name=".MyApplication">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="KEY_VALUE" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfilePatActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileDocActivity"
            android:exported="false" />
        <activity
            android:name=".CreateNewReportActivity"
            android:exported="false" />
        <activity
            android:name=".chat.activity.MessagesActivityPat"
            android:exported="false" />
        <activity
            android:name=".chat.activity.MessagesActivityDoc"
            android:exported="false" />
        <activity
            android:name=".chat.activity.ChatsActivityPat"
            android:exported="false" />
        <activity
            android:name=".chat.activity.ChatsActivityDoc"
            android:exported="false" />
        <activity
            android:name=".CreateAppointmentDetailsDocActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentDetailsPatActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentDetailsDocActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePatActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileDocActivity"
            android:exported="false" />
        <activity
            android:name=".startPatient.StartPatActivity"
            android:exported="false" />
        <activity
            android:name=".startDoctor.StartDocActivity"
            android:exported="false" />
        <activity
            android:name=".MakeAppointmentPatActivity"
            android:exported="false" />
        <activity
            android:name=".MakeAppointmentDocActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".ReportDocActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmationDialogFragment"
            android:exported="false" />
        <activity
            android:name=".SetAppointmentDocActivity"
            android:exported="false" />
        <activity
            android:name=".AppointmentsDocActivity"
            android:exported="false" />
        <activity
            android:name=".ManageDocLocationsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReminderBroadcast" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".chat.notifications.FirebaseService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
